<h2>新增 預約</h2>
<br />

<form method="post" action="/Home/CreatedReservation ">
    <div class="form-group row">
        <label for="inputCharName" class="col-sm-2">ID</label>
        <div class="col-sm-10">
            <input type="text" id="inputID" name="ID" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label for="inputCharName" class="col-sm-2">姓名</label>
        <div class="col-sm-10">
            <input type="text" id="inputName" name="NAME" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label for="inputCardName" class="col-sm-2">電話</label>
        <div class="col-sm-10">
            <input type="text" id="inputPhone" name="PHONE" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label for="inputCardLevel" class="col-sm-2">日期 </label>
        <div class="col-sm-10">
            <input type="datetime-local" id="inputDate" name="DATE" class="form-control" />
        </div>
    </div>
    <input class="btn btn-default" type="submit" value="預約" />
</form>

